<header class="navHeader"></header>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="20px"
  fxLayoutAlign="center stretch" style="margin-top: 50px;padding: 29px 0 22px;">
  <div fxFlex="100">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Clothing</a></li>
      <li class="breadcrumb-item"><a href="#">Men Clothing</a></li>
      <li class="breadcrumb-item"><a href="#">Shirts</a></li>
      <li class="breadcrumb-item active font-weight-bold"><a href="#">WROGN Shirts</a></li>
      <li class="breadcrumb-item active font-weight-bold" aria-current="page"><a href="#">More By WROGN</a></li>
    </ol>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="20px"
  fxLayoutAlign="center stretch">
  <div fxFlex="60%">
    <div class="img-gap"  fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px">
      <div class="galleryContainer" fxFlex="48%" fxFlex-sm="100%" fxFlex-xs="100%"><img class="img-gallery"
          src="assets/images/shirt1.jpeg" width="100%" height="100%">
      </div>
      <div class="galleryContainer" fxFlex="48%" fxFlex-sm="100%" fxFlex-xs="100%"><img class="img-gallery"
          src="assets/images/shirt2.jpeg" width="100%" height="100%">
      </div>
      <div class="galleryContainer" fxFlex="48%" fxFlex-sm="100%" fxFlex-xs="100%"><img class="img-gallery"
          src="assets/images/shirt3.jpeg" width="100%" height="100%">
      </div>
      <div class="galleryContainer" fxFlex="48%" fxFlex-sm="100%" fxFlex-xs="100%"><img class="img-gallery"
          src="assets/images/shirt4.jpeg" width="100%" height="100%">
      </div>
      <div class="galleryContainer" fxFlex="48%" fxFlex-sm="100%" fxFlex-xs="100%"><img class="img-gallery"
          src="assets/images/shirt5.jpeg" width="100%" height="100%">
      </div>
      <div class="galleryContainer" fxFlex="48%" fxFlex-sm="100%" fxFlex-xs="100%"><img class="img-gallery"
          src="assets/images/shirt6.jpeg" width="100%" height="100%">
      </div>
      <div class="galleryContainer" fxFlex="48%" fxFlex-sm="100%" fxFlex-xs="100%"><img class="img-gallery"
          src="assets/images/shirt1.jpeg" width="100%" height="100%">
      </div>
    </div>
  </div>

  <div fxFlex="40%">
    <h4 class="m-0 font-weight-bold">WROGN</h4>
    <div class="lead text-muted">Men Pink Slim Fit Solid Casual Shirt</div>
    <div fxLayout="row">
      <div class="ratingMenu mt-2">
        <span class="font-weight-bold">4.5&nbsp;<i class="fa fa-star text-success" aria-hidden="true"></i></span>
        <span class="font-weight-light">&nbsp;|&nbsp;63 Ratings</span>
      </div>
    </div>

    <hr />
    <div class="priceMenu font-weight-bold">
      <strong class="h4">Rs.959</strong>
      <span class="text-secondary p-2 h5"><del>Rs.2399</del></span>
      <strong class="text-warning h5">(60% OFF)</strong>
      <p><small class="text-success font-weight-bold fs-12">inclusive of all taxes</small></p>
    </div>

    <div class="sizeMenu mt-3 mb-3">
      <span class="h6 font-weight-bold">SELECT SIZE</span>
      <span class="font-weight-bold text-danger ml-3 fs-14">SIZE CHART&nbsp;<i class="fa fa-angle-right"
          aria-hidden="true"></i></span>
    </div>

    <div class="sizeContainer mt-3">
      <div class="sizeBox">
        <div class="mt-2">39</div>
        <div class="itemCount">1 left</div>
      </div>
      <div class="sizeBox">
        <div class="mt-2">40</div>
        <div class="itemCount">1 left</div>
      </div>
      <div class="sizeBox disabled">
        <span class="noLeft"></span>
        <div class="mt-2">42</div>
      </div>
      <div class="sizeBox disabled">
        <span class="noLeft"></span>
        <div class="mt-2">44</div>
      </div>
      <div class="sizeBox">
        <div class="mt-2">46</div>
        <div class="itemCount">1 left</div>
      </div>
    </div>
    <div class="mt-4" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex="50">
        <button type="button" class="btn btn-danger w-100 p-3 font-weight-bold"><i class="fa fa-shopping-bag"
            aria-hidden="true"></i>&nbsp;ADD TO BAG</button>
      </div>
      <div fxFlex="30">
        <button type="button" class="btn-outline-dark w-100 p-3 font-weight-bold"><i class="fa fa-heart-o"
            aria-hidden="true"></i>&nbsp;WISHLIST</button>
      </div>
    </div>
    <div class="mt-4">
      <h6 class="font-weight-bold fs-16">DELIVERY OPTIONS&nbsp;&nbsp;<i class="fa fa-truck reverseIcon"
          aria-hidden="true"></i>
      </h6>
    </div>
    <div class="mt-3" fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50">
        <div class="input-group">
          <input type="text" class="form-control borderRightNone" aria-label="Default"
            aria-describedby="inputGroup-sizing-default" placeholder="Enter pincode">
          <div class="input-group-prepend">
            <span class="input-group-text text-danger borderLeftNone" id="inputGroup-sizing-default"><small
                class="font-weight-bold">Check</small></span>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="100">
        <small id="passwordHelpBlock" class="form-text text-muted">
          Please enter PIN code to check delivery time & Pay on Delivery Availability
        </small>
      </div>
    </div>

    <div class="text-muted mt-4">
      <div>100% Original Products</div>
      <div>Pay on delivery might be available</div>
      <div>Easy 30 days returns and exchanges</div>
      <div>Try & Buy might be available</div>
    </div>

    <div class="mt-4">
      <h6 class="font-weight-bold fs-16">BEST OFFERS&nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true"></i></h6>
      <div class="font-weight-bold mt-3">Best Price: <span class="text-warning font-weight-normal"><b>Rs. 759</b></span>
      </div>
    </div>

    <div class="text-muted mt-3">
      <ul class="pl-3 fs-16">
        <li>Applicable on: Orders above Rs. 599 (only on first purchase)</li>
        <li>Coupon code: MYNTRA200</li>
        <li>Coupon Discount: Rs. 200 off (check cart for final savings)</li>
      </ul>
      <p><a href="#"><small class="text-danger font-weight-bolder">View Eligible Products</small></a></p>
    </div>

    <div>
      <div class="font-weight-bold fs-16">EMI option available</div>
      <ul class="pl-3">
        <li><small>EMI starting from Rs.45/month</small></li>
      </ul>
      <p><small class="text-danger fs-14 font-weight-bolder cursorPointer">View Plan</small></p>
    </div>

    <hr />

    <div>
      <h6 class="font-weight-bold fs-16">PRODUCT DETAILS&nbsp;&nbsp;<i class="fa fa-list-alt" aria-hidden="true"></i>
      </h6>
      <p class="fs-14">Pink solid casual shirt, has a mandarin collar, long sleeves, button placket, curved hem, and 2
        patch pockets
      </p>
    </div>

    <div class="mt-3">
      <div class="font-weight-bold fs-14">
        Size & Fit
      </div>
      <div class="fs-14">
        <div>Slim fit</div>
        <div>The model (height 6') is wearing a size 40</div>
      </div>
    </div>
    <div class="mt-3">
      <div class="font-weight-bold fs-14">
        Material & Care
      </div>
      <div class="fs-14">
        <div>71% Cotton and 29% linen</div>
        <div>Machine-wash</div>
      </div>
    </div>
    <div class="mt-3">
      <div class="font-weight-bold fs-14">
        Specifications
      </div>
    </div>
    <div class="mt-2" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex="50">
        <form>
          <div class="form-group">
            <label class="inputKey">Sleeve Length</label>
            <div class="inputValue mb-2 fs-14">Long Sleeves</div>
          </div>
          <div class="form-group">
            <label class="inputKey">Fit</label>
            <div class="inputValue mb-2 fs-14">Slim Fit</div>
          </div>
          <div class="form-group">
            <label class="inputKey">Occasion</label>
            <div class="inputValue mb-2 fs-14">Casual</div>
          </div>
          <div class="form-group">
            <label class="inputKey">Hemline</label>
            <div class="inputValue mb-2 fs-14">Curved</div>
          </div>
        </form>
      </div>
      <div fxFlex="50">
        <form>
          <div class="form-group">
            <label class="inputKey">Collar</label>
            <div class="inputValue mb-2 fs-14">Mandarin Collar</div>
          </div>
          <div class="form-group">
            <label class="inputKey">Print or Pattern Type</label>
            <div class="inputValue mb-2 fs-14">Solid</div>
          </div>
          <div class="form-group">
            <label class="inputKey">Length</label>
            <div class="inputValue mb-2 fs-14">Regular</div>
          </div>
          <div class="form-group">
            <label class="inputKey">Placket</label>
            <div class="inputValue mb-2 fs-14">Button Placket</div>
          </div>
        </form>
      </div>
    </div>
    <p><small class="text-danger fs-14 font-weight-bolder cursorPointer">See More</small></p>
    <hr />
    <div class="font-weight-bold fs-16 mt-3">
      RATINGS&nbsp;&nbsp;<i class="fa fa-star" aria-hidden="true"></i>
    </div>


    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div class="borderRight" fxFlex="30%">
        <div class="font-weight-normal fs-48 h1">4.5&nbsp;<small class="h6"><i class="fa fa-star fa-lg text-success"
              aria-hidden="true"></i></small></div>
        <p class="text-muted fs-12">63 Verified Buyers</p>
      </div>
      <div fxFlex="10%">

      </div>
      <div class="fs-12" fxFlex="45%">
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="10%">
            <span>5&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
          </div>
          <div fxFlex="50%">
            <span class="progress">
              <span class="progress-bar" style="width: 60px;"></span>
            </span>
          </div>
          <div fxFlex="10%">
            <span>&nbsp;70</span>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="10%">
            <span>4&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
          </div>
          <div fxFlex="50%">
            <span class="progress">
              <span class="progress-bar" style="width: 20px;"></span>
            </span>
          </div>
          <div fxFlex="10%">
            <span>&nbsp;40</span>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="10%">
            <span>3&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
          </div>
          <div fxFlex="50%">
            <span class="progress">
              <span class="progress-bar" style="width: 10px;"></span>
            </span>
          </div>
          <div fxFlex="10%">
            <span>&nbsp;8</span>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="10%">
            <span>2&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
          </div>
          <div fxFlex="50%">
            <span class="progress">
              <span class="progress-bar" style="width: 5px;"></span>
            </span>
          </div>
          <div fxFlex="10%">
            <span>&nbsp;3</span>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="10%">
            <span>1&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
          </div>
          <div fxFlex="50%">
            <span class="progress">
              <span class="progress-bar" style="width: 1px;"></span>
            </span>
          </div>
          <div fxFlex="10%">
            <span>&nbsp;1</span>
          </div>
        </div>

        <!-- <ul class="listStyleNone">
          <li>
            <span>5&nbsp;</span>
            <i class="mt-3 fa fa-star" aria-hidden="true"></i>&nbsp;
            <span class="progress">
              <span class="progress-bar bg-success"></span>
            </span>
          </li>
          <li>
            <span>4&nbsp;</span>
            <i class="mt-3 fa fa-star" aria-hidden="true"></i>&nbsp;
            <span class="progress">
              <span class="progress-bar bg-success"></span>
            </span>
            &nbsp;40
          </li>
          <li>
            <span>3&nbsp;</span>
            <i class="mt-3 fa fa-star" aria-hidden="true"></i>&nbsp;
            <span class="progress">
              <span class="progress-bar bg-success"></span>
            </span>
          </li>
          <li>
            <span>2&nbsp;</span>
            <i class="mt-3 fa fa-star" aria-hidden="true"></i>&nbsp;
            <span class="progress">
              <span class="progress-bar bg-success"></span>
            </span>
          </li>
          <li>
            <span>1&nbsp;</span>
            <i class="mt-3 fa fa-star" aria-hidden="true"></i>&nbsp;
            <span class="progress">
              <span class="progress-bar bg-success"></span>
            </span>
          </li>
        </ul> -->
      </div>
      <div fxFlex="10%">

      </div>
    </div>

    <div class="font-weight-bold mt-3">WHAT CUSTOMERS SAID&nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true"></i></div>

    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50%"><span class="text-muted fs-14">Fit</span>
        <span class="progress">
          <span class="progress-bar" style="width: 60px;"></span>
        </span>
      </div>
      <div fxFlex="30%" class="mt-3 fs-14">
        <span>&nbsp;As Expected (78%)</span>
      </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50%"><span class="text-muted fs-14">Length</span>
        <span class="progress">
          <span class="progress-bar" style="width: 60px;"></span>
        </span>
      </div>
      <div fxFlex="30%" class="mt-3 fs-14">
        <span>&nbsp;As Expected (77%)</span>
      </div>
    </div>

    <div class="mt-3">
      <p><small class="text-danger fs-14 font-weight-bolder cursorPointer">View Details</small></p>
    </div>

    <hr />

    <div class="font-weight-bold"> Customer Reviews (16)</div>
    <div class="mt-3">
      <div fxLayout="row" fxLayout.xs="row" fxLayout.sm="row" fxLayoutGap="10px">
        <div fxFlex="5" fxShow fxHide.lt-md>
          <small class="bg-success text-light text-center">5&nbsp;<i class="fa fa-star" aria-hidden="true"></i></small>
        </div>
        <div fxFlex="80">
          <small>In love with the product</small>
          <div class="mt-3" fxLayout="row" fxLayout.xs="row" fxLayout.sm="row" fxLayoutGap="30px">
            <div fxFlex="70" fxLayoutAlign="start start">
              <small class="text-muted">Anjul Raj7 | May 2021</small>
            </div>
            <div fxFlex="30" fxLayoutAlign="end end">
              <small class="text-muted">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;0
              </small>
              <small class="ml-3 text-muted">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;0
              </small>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div fxLayout="row" fxLayout.xs="row" fxLayout.sm="row" fxLayoutGap="10px">
        <div fxFlex="5" fxShow fxHide.lt-md>
          <small class="bg-success text-light text-center">4&nbsp;<i class="fa fa-star" aria-hidden="true"></i></small>
        </div>
        <div fxFlex="80">
          <small>Shirt is perfect, the only thing is color is slightly different as shown in the picture</small>
          <div class="mt-3" fxLayout="row" fxLayout.xs="row" fxLayout.sm="row" fxLayoutGap="30px">
            <div fxFlex="70" fxLayoutAlign="start start">
              <small class="text-muted">Divya Choudhary | 23 May 2021</small>
            </div>
            <div fxFlex="30" fxLayoutAlign="end end">
              <small class="text-muted">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;1
              </small>
              <small class="ml-3 text-muted">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;0
              </small>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div fxLayout="row" fxLayout.xs="row" fxLayout.sm="row" fxLayoutGap="10px">
        <div fxFlex="5" fxShow fxHide.lt-md>
          <small class="bg-success text-light text-center">4&nbsp;<i class="fa fa-star" aria-hidden="true"></i></small>
        </div>
        <div fxFlex="80">
          <small>Nice colour and look ! Value for money!</small>
          <div class="mt-3" fxLayout="row" fxLayout.xs="row" fxLayout.sm="row" fxLayoutGap="30px">
            <div fxFlex="70" fxLayoutAlign="start start">
              <small class="text-muted">Myntra Customer | 23 May 2021</small>
            </div>
            <div fxFlex="30" fxLayoutAlign="end end">
              <small class="text-muted">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;2
              </small>
              <small class="ml-3 text-muted">
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;0
              </small>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <div>
      <p><small class="text-danger fs-14 font-weight-bolder cursorPointer">View all 16 reviews</small></p>
    </div>
    <div>
      <span class="text-muted">Product Code: </span> <b>13673138</b>
    </div>
    <div><span class="text-muted">Seller: </span>
      <span class="text-danger fs-14 font-weight-bolder cursorPointer">Flashstar
        Commerce</span>
    </div>
    <div>
      <p><small class="text-dark fs-14 font-weight-bolder">View Supplier Information</small></p>
    </div>
  </div>
</div>